
<!-- Begin Footer -->
<footer data-swiftype-index='false' class="site-footer" role="contentinfo">
  <section class="fat">
    <div class="row">
      <div class="large-8 columns">
        <h1>Government</h1>
        <nav>
          <ul>
            <li><a href="http://usa.gov">usa.gov</a></li>
            <li><a href="http://usa.gov">Government Directory</a></li>            
            <li><a href="#">Report an Issue</a></li>
            <li><a href="#">News</a></li>
          </ul>
        </nav>
      </div>
      <div class="large-16 columns">
        <h1>Browse USA.gov</h1>
        <nav>
          <ul class="columns-2">
            <li><a href="http://usa.gov/browse/health">Health</a></li>
            <li><a href="http://usa.gov/browse/legal">Legal</a></li>
            <li><a href="http://usa.gov/browse/payments-and-taxes">Payments and Taxes</a></li>
            <li><a href="http://usa.gov/browse/permits-licenses">Permits and Licenses</a></li>
            <li><a href="http://usa.gov/browse/property-housing">Property and Housing</a></li>
            <li><a href="http://usa.gov/browse/public-safety">Public Safety</a></li>
            <li><a href="http://usa.gov/browse/streets-and-utilities">Streets and Utilities</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
  <div class="row classic center">
    <div class="columns">
      <nav>
        <ul class="inline-list">
          <li><a href="http://usa.gov/terms-of-use">Terms of use</a></li>
          <li><a href="http://usa.gov/privacypolicy">Privacy Policy</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>

<!-- End Footer -->

